# libraries required for the project
fastapi[all]
httpx
pydantic
pydantic-settings
python-dotenv
requests
uvicorn
loguru               # Usado para logging
pyngrok              # Necesario si usas ngrok en tu proyecto
ujson                # Usado para JSON de alto rendimiento